{% extends "base.html.twig" %}

{% block title %}ChezBibi - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue ChezBibi</h1>
			<p class="lead">ChezBibi est une application qui va te permettre de créer des recettes. Tu pourras partager tes recettes ou bien les garder privées.</p>
			<hr class="my-4">
			{% if not app.user %}
				<p>Pour commencer rendez-vous sur la page d'inscription pour utiliser l'application</p>
				<p class="lead">
					<a class="btn btn-primary btn-lg" href="{{ path('security.registration') }}" role="button">Inscription</a>
				</p>
			{% endif %}

			<h2 class="mt-4">Recettes de la communautée</h2>

			<div class="d-flex justify-content-around flex-wrap">
				{% for recipe in recipes %}
					<div class="card text-white bg-primary mb-2 mt-4" style="max-width: 25rem;">
						<div class="card-header">Recette N°{{ recipe.id }}</div>
						<div class="card-body">
							<h4 class="card-title">{{ recipe.name }}</h4>
							<div class="mt-4">
								<img src="{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(recipe,'imageFile')}}" alt="{{ recipe.imageName }}" class="img-thumbnail">
							</div>
							{% if recipe.average %}
								<p class="mt-4 card-text">Note moyenne:
									{{recipe.average}}
									/ 5</p>
							{% else %}
								<p class="mt-4 card-text">Note moyenne: Non renseigné</p>
							{% endif %}
							<p>Ecrit par
								{{ recipe.user.pseudo }}</p>
							<a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('recipe.show', {'id': recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
		{% if app.user %}
			<a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('recipe.index.public') }}" class="btn btn-primary mt-4">Toutes les recettes</a>
		{% endif %}
	</div>
{% endblock %}
