{% extends "base.html.twig" %}

{% block title %}ChezBibi -
	{{ recipe.name }}
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
		<h1 class="mt-4 text-center">{{ recipe.name }}</h1>
		<span class="badge bg-primary">Créée le
			{{ recipe.createdAt|date('d/m/Y') }}</span>
		{% if recipe.time %}
			<p class="mt-4 text-primary">Durée :
				{{ recipe.time }}
				minutes</p>
		{% else %}
			<p class="mt-4 text-primary">Durée : Durée non renseignée</p>
		{% endif %}
		{% if recipe.nbPeople %}
			<p class="text-primary">Nombre de personnes :
				{{ recipe.nbPeople }}</p>
		{% else %}
			<p class="text-primary">Nombre de personnes : Non renseigné</p>
		{% endif %}
		{% if recipe.difficulty %}
			<div class="progress">
				<p class="text-primary">DIFFICULTE</p>
				<div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ recipe.difficulty * 20}}%" aria-valuenow="{{ recipe.difficulty}}" aria-valuemin="0" aria-valuemax="5"></div>
			</div>
		{% else %}
			<p class="text-primary">Difficulté : Non renseigné</p>
		{% endif %}
		{% if recipe.price %}
			{% if recipe.price < 15.00 %}
				<span class="badge bg-success">Prix:
					{{recipe.price}}
					€</span>
			{% elseif recipe.price > 15.00 and recipe.price < 30.00 %}
				<span class="badge bg-warning">Prix:
					{{recipe.price}}
					€</span>
			{% else %}
				<span class="badge bg-danger">Prix:
					{{recipe.price}}
					€</span>
			{% endif %}
		{% else %}
			<p class="mt-4 text-primary">Prix : Non renseigné</p>
		{% endif %}
		{% if recipe.average %}
			<p class="mt-4 text-primary">Note moyenne:
				{{recipe.average}}
				/ 5</p>
		{% else %}
			<p class="mt-4 text-primary">Note moyenne: Non renseigné</p>
		{% endif %}
		<h3>Liste des Ingrédients</h3>
		<ul class="list-group">
			{% for ingredient in recipe.ingredients %}
				<li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
					{{ ingredient.name }}
					<span class="badge bg-primary rounded-pill">{{ ingredient.price }}</span>
				</li>
			{% endfor %}
		</ul>
		<div class="mt-4 text-primary">
			<h3>Description</h3>
			{{ recipe.description | raw }}</div>
		<small class="text-muted">Recette conçue par
			{{ recipe.user.pseudo }}</small>
		{% if app.user.id != recipe.user.id %}
			{{ form_start(form)}}
			<div class="form-group">
				{% if existingMark %}
					<p class="mt-4 text-primary">Modifié ma note de
						{{ mark.mark }}
						pour cette recette</p>
				{% endif %}
				{{ form_label(form.mark) }}
				{{ form_widget(form.mark) }}
			</div>
			<div class="form-group">
				{{ form_row(form.submit) }}
			</div>
			{{ form_end(form) }}
		{% endif %}
	</div>
{% endblock %}
