{% extends 'base.html.twig' %}

{% block title %}Chezbibi - Modification du mot de passe
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1 class="mt-4">Formulaire de modification du mot de passe</h1>
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_widget(form.plainPassword) }}
			<div class="form-error mt-4">
				{{ form_errors(form.plainPassword) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_widget(form.newPassword) }}
			<div class="form-error mt-4">
				{{ form_errors(form.newPassword) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
